<a href="https://colab.research.google.com/github/Ishan2506/InternShipTask/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
#Read the Dataset
df=pd.read_csv('/content/Telco_Customer_Churn_Dataset .csv')
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [4]:
#Finding the missing Value
miss=df.isnull().sum()
print(miss)
#In given dataset , there is no missing value

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [31]:
#Finding each columns Unique Values
ChurnUnique = df['Churn'].unique()
ChurnUnique

array(['No', 'Yes'], dtype=object)

In [32]:
MonthUnique = df['MonthlyCharges'].unique()
MonthUnique

array([29.85, 56.95, 53.85, ..., 63.1 , 44.2 , 78.7 ])

In [33]:
TotalUnique = df['TotalCharges'].unique()
TotalUnique

array(['29.85', '1889.5', '108.15', ..., '346.45', '306.6', '6844.5'],
      dtype=object)

In [34]:
PaperUnique = df['PaperlessBilling'].unique()
PaperUnique

array(['Yes', 'No'], dtype=object)

In [35]:
ContractUnique = df['Contract'].unique()
ContractUnique

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [36]:
PaymentUnique = df['PaymentMethod'].unique()
PaymentUnique

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [37]:
TechSprtUnique = df['TechSupport'].unique()
TechSprtUnique

array(['No', 'Yes', 'No internet service'], dtype=object)

In [38]:
StreamTvUnique = df['StreamingTV'].unique()
StreamTvUnique

array(['No', 'Yes', 'No internet service'], dtype=object)

In [39]:
StreamMovieUnique = df['StreamingMovies'].unique()
StreamMovieUnique

array(['No', 'Yes', 'No internet service'], dtype=object)

In [40]:
PartnerUnique = df['Partner'].unique()
PartnerUnique

array(['Yes', 'No'], dtype=object)

In [41]:
GenderUnique = df['gender'].unique()
GenderUnique

array(['Female', 'Male'], dtype=object)

In [42]:
InternetUnique = df['InternetService'].unique()
InternetUnique

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [43]:
PhoneUnique = df['PhoneService'].unique()
PhoneUnique

array(['No', 'Yes'], dtype=object)

In [44]:
 DependentUnique = df['Dependents'].unique()
 DependentUnique

array(['No', 'Yes'], dtype=object)

In [45]:
MultiLineUnique = df['MultipleLines'].unique()
MultiLineUnique

array(['No phone service', 'No', 'Yes'], dtype=object)

In [46]:
OnBackupUnique = df['OnlineBackup'].unique()
OnBackupUnique

array(['Yes', 'No', 'No internet service'], dtype=object)

In [47]:
DevProtectionUnique = df['DeviceProtection'].unique()
DevProtectionUnique

array(['No', 'Yes', 'No internet service'], dtype=object)

In [48]:
OnSecurityUnique = df['OnlineSecurity'].unique()
OnSecurityUnique

array(['No', 'Yes', 'No internet service'], dtype=object)

In [49]:
#Creating a list of Columns which have categories
categorical_columns = [
    'gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines',
    'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
    'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
    'PaperlessBilling', 'PaymentMethod', 'Churn'
]
# One-hot encoding
df_encoded = pd.get_dummies(df, columns=categorical_columns)

#Convert Bool Value into Int value
for column in df_encoded.columns:
    if df_encoded[column].dtype == 'bool':
        df_encoded[column] = df_encoded[column].astype(int)

# Display the new encoded dataframe
print(df_encoded)

      customerID  SeniorCitizen  tenure  MonthlyCharges TotalCharges  \
0     7590-VHVEG              0       1           29.85        29.85
1     5575-GNVDE              0      34           56.95       1889.5
2     3668-QPYBK              0       2           53.85       108.15
3     7795-CFOCW              0      45           42.30      1840.75
4     9237-HQITU              0       2           70.70       151.65
...          ...            ...     ...             ...          ...
7038  6840-RESVB              0      24           84.80       1990.5
7039  2234-XADUH              0      72          103.20       7362.9
7040  4801-JZAZL              0      11           29.60       346.45
7041  8361-LTMKD              1       4           74.40        306.6
7042  3186-AJIEK              0      66          105.65       6844.5

      gender_Female  gender_Male  Partner_No  Partner_Yes  Dependents_No  ...  \
0                 1            0           0            1              1  ...
1                 0            1           1            0              1  ...
2                 0            1           1            0              1  ...
3                 0            1           1            0              1  ...
4                 1            0           1            0              1  ...
...             ...          ...         ...          ...            ...  ...
7038              0            1           0            1              0  ...
7039              1            0           0            1              0  ...
7040              1            0           0            1              0  ...
7041              0            1           0            1              1  ...
7042              0            1           1            0              1  ...

      Contract_One year  Contract_Two year  PaperlessBilling_No  \
0                     0                  0                    0
1                     1                  0                    1
2                     0                  0                    0
3                     1                  0                    1
4                     0                  0                    0
...                 ...                ...                  ...
7038                  1                  0                    0
7039                  1                  0                    0
7040                  0                  0                    0
7041                  0                  0                    0
7042                  0                  1                    0

      PaperlessBilling_Yes  PaymentMethod_Bank transfer (automatic)  \
0                        1                                        0
1                        0                                        0
2                        1                                        0
3                        0                                        1
4                        1                                        0
...                    ...                                      ...
7038                     1                                        0
7039                     1                                        0
7040                     1                                        0
7041                     1                                        0
7042                     1                                        1

      PaymentMethod_Credit card (automatic)  PaymentMethod_Electronic check  \
0                                         0                               1
1                                         0                               0
2                                         0                               0
3                                         0                               0
4                                         0                               1
...                                     ...                             ...
7038                                      0                               0
7039                                      1                               0
7040                                      0                               1
7041                                      0                               0
7042                                      0                               0

      PaymentMethod_Mailed check  Churn_No  Churn_Yes
0                              0         1          0
1                              1         1          0
2                              1         0          1
3                              0         1          0
4                              0         0          1
...                          ...       ...        ...
7038                           1         1          0
7039                           0         1          0
7040                           0         1          0
7041                           1         0          1
7042                           0         1          0

[7043 rows x 48 columns]